@use '../foundation' as *;

/* ==================================================
  Main
================================================== */
.l-main {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
}
