@use './variables' as *;

/* ==================================================
  Base
================================================== */

html {
  font-size: $font-size-root;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text-primary;
  background-color: $color-bg-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscalse;
}

p {
  margin: 0;
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

::selection {
  background-color: rgba($color-primary, 0.15);
}
