/* ==================================================
  Variables
================================================== */

:root {
  --color-text: #111111;
  --color-accent: #05f;
  --color-bg: #fff;
  --font-base: var(--font-inter), sans-serif;
}
