@use '../../foundation' as *;
/* ==================================================
  Hero
================================================== */
.p-hero {
  padding: $space-xxl 0;

  &__lead {
    font-size: 14px;
    letter-spacing: 0.05em;
    color: var(--color-text-sub);
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
  }

  &__text {
    max-width: 560px;
    color: var(--color-text-sub);
  }
}
