/* ==================================================
  Skills
================================================== */
.p-skills {
  padding: 40px 0;

  &__list {
    display: grid;
    grid-template-columns: 1fr;
  }
}
